In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#pip list

In [5]:
train= pd.read_csv("train.csv")
test= pd.read_csv("test.csv")

In [6]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [7]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [8]:
train.drop(columns=['location'],inplace=True)
train.drop(columns=['keyword'],inplace=True)
train.drop(columns=['id'],inplace=True)

In [9]:
test.drop(columns=['location'],inplace=True)
test.drop(columns=['keyword'],inplace=True)

In [10]:
Dis_id=test['id']
test.drop(columns=['id'],inplace=True)

In [11]:
example="New competition launched :https://www.kaggle.com/c/nlp-getting-started"

In [12]:
import re

In [13]:
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

remove_URL(example)

'New competition launched :'

In [14]:
train['text']=train['text'].apply(lambda x : remove_URL(x))

In [15]:
test['text']=test['text'].apply(lambda x : remove_URL(x))

In [16]:
example = """<div>
<h1>Real or Fake</h1>
<p>Kaggle </p>
<a href="https://www.kaggle.com/c/nlp-getting-started">getting started</a>
</div>"""

In [17]:
def remove_html(text):
    html=re.compile(r'<.*?>')
    return html.sub(r'',text)
print(remove_html(example))

Real or Fake
Kaggle
getting started

In [18]:
train['text']=train['text'].apply(lambda x : remove_html(x))

In [19]:
test['text']=test['text'].apply(lambda x : remove_html(x))

In [20]:
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  
                           u"\U0001F300-\U0001F5FF" 
                           u"\U0001F680-\U0001F6FF"  
                           u"\U0001F1E0-\U0001F1FF"  
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [21]:
remove_emoji("Omg another Earthquake 😔😔")

'Omg another Earthquake '

In [22]:
train['text']=train['text'].apply(lambda x: remove_emoji(x))

In [23]:
test['text']=test['text'].apply(lambda x: remove_emoji(x))

In [24]:
import string

In [25]:
def remove_punct(text):
    table=str.maketrans('','',string.punctuation)
    return text.translate(table)

example="I am a #king"
print(remove_punct(example))

I am a king

In [26]:
train['text']=train['text'].apply(lambda x : remove_punct(x))

In [27]:
test['text']=test['text'].apply(lambda x : remove_punct(x))

In [28]:
x_train=train['text']
y_train=train['target']
x_test=test['text']

In [29]:
from sklearn.model_selection import train_test_split
print(x_train.shape)
print(x_test.shape)

(7613,)
(3263,)

In [30]:
x_train.head()

0    Our Deeds are the Reason of this earthquake Ma...
1                Forest fire near La Ronge Sask Canada
2    All residents asked to shelter in place are be...
3    13000 people receive wildfires evacuation orde...
4    Just got sent this photo from Ruby Alaska as s...
Name: text, dtype: object

In [31]:
x_test.head()

0                   Just happened a terrible car crash
1    Heard about earthquake is different cities sta...
2    there is a forest fire at spot pond geese are ...
3                Apocalypse lighting Spokane wildfires
4        Typhoon Soudelor kills 28 in China and Taiwan
Name: text, dtype: object

In [32]:
#train[2513]

In [33]:
#pip install pyspellchecker

In [34]:
#from spellchecker import SpellChecker

In [35]:
#spell = SpellChecker()
#def correct_spellings(text):
   # corrected_text = []
    #misspelled_words = spell.unknown(text.split())
    #for word in text.split():
     #   if word in misspelled_words:
      #      corrected_text.append(spell.correction(word))
       # else:
        #    corrected_text.append(word)
    #return " ".join(corrected_text)
        
#text = "corect me plese"
#correct_spellings(text)

In [36]:
pip install autocorrect

Requirement already satisfied: autocorrect in c:\users\mowniesh\anaconda7\lib\site-packages (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [37]:
#from autocorrect import Speller

In [38]:

#spell = Speller(lang="en")

In [39]:
#x_test=x_test.apply(lambda x : spell(x))

In [40]:
train.head()

                                                text  target
0  Our Deeds are the Reason of this earthquake Ma...       1
1              Forest fire near La Ronge Sask Canada       1
2  All residents asked to shelter in place are be...       1
3  13000 people receive wildfires evacuation orde...       1
4  Just got sent this photo from Ruby Alaska as s...       1

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
cv= TfidfVectorizer(min_df=1,stop_words='english')

In [42]:
X_train_counts=cv.fit_transform(x_train)

In [43]:
cv.vocabulary_.get(u'algorithm')

In [44]:
X_test_counts=cv.transform(x_test)

In [45]:
from sklearn.naive_bayes import MultinomialNB
clf=MultinomialNB()
clf.fit(X_train_counts,y_train)
clf.score(X_train_counts,y_train)

0.9012215946407461

In [46]:
from sklearn.metrics import accuracy_score
y_pred = clf.predict(X_test_counts)
#accuracy_score(y_pred,y_test)

In [47]:
y=y_pred

In [48]:
submission = pd.DataFrame({'id':Dis_id,'target':y})

In [49]:
filename = 'submission.csv'
submission.to_csv(filename,index=False)